.account-display {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0px;
    font-family: Montserrat;
}

.account-display > div > h1 {
    font-size: 48px;
    font-weight: 900;
}

