@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Montserrat|Shrikhand');

.customer-dashboard-container {
    text-align: center;
}

.customer-dashboard-container p {
    margin-top: 20px;
    font-size: 20px;
}

.dashboard-display-container {
    padding-top: 20px;
}

.dashboard-display-container > div {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.dashboard-display-container > div > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-display-container > div h1 {
    font-size: 32px;
    font-family: Montserrat;
}

.dashboard-display-container > div h2 {
    font-size: 26px;
    font-family: Montserrat;
}