.home-container {
    background-color: #edeced;
}

.home-inner-container {
    max-width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding-top: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 1px 4px 10px gray;
}

.home-hero-text{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: #F8F6EA;
    margin-top: 70px;
    text-align: center;
}

.home-hero-button {
    width: 125px;
    height: 35px;
    color: #171736;
    background-color: #FFA23F;
    border: 1px solid #171736;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.home-hero {
    background-image: url('./assets/cook-food-kitchen-eat.jpeg');
    z-index: -1;
    background-position: bottom;
    width: 100%;
    background-size: contain;
    height: 350px;
    border: 1px solid transparent;
    text-align: center;
    box-shadow: 1px 4px 5px gray;
}

.home-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.home-content-text-1, .home-content-text-2, .home-content-text-3, .home-content-text-4 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 5px;
    color: #171736;
    width: 70%;
    text-align: center;
}

.home-content-img-1 {
    width: 300px;
    float: left;
}

.home-content-img-2  {
    width: 300px;
    float: right;
}

.home-content-img-3  {
    width: 300px;
    float: left;
}

.home-content-img-4  {
    width: 300px;
    float: right;
}

.home-icon-header {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

.home-info-icon {
    font-size: 125px;
    color: #211a0d;
}

.grid-container {
    background-color: #FFFFFF;
    max-width: 1200px;
    margin: 25px auto 0px auto;
    border-radius: 2px;
    border: 1px transparent;
    border-radius: 2px;
    box-shadow: 1px 4px 10px gray;
    padding: 10px;
}

.grid-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #211a0d;
    padding: 10px 0px 60px 0px;
    margin: 0 auto;
    max-width: 80%;
}

.grid-item {
    max-width: 200px;
    text-align: center;
    padding: 20px;
}

b {
    font-weight: 700;
}

.home-content-container > *+* {
    margin: 10px auto;
} 