.home-container {
    background-color: #963135;
}

.home-inner-container {
    max-width: 1200px;
    background-color: #F8F6EA;
    margin: 0 auto;
}

.home-hero-text{
    font-family: 'Merriweather', serif;
    font-size: 45px;
    color: #171736;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F8F6EA;
    background-color: #F8F6EA50;
    padding: 128px;
}

.home-hero {
    background-image: url('./assets/restaurant-img.jpeg');
    z-index: -1;
    background-position: center;
    height: 300px;
    border: 1px solid transparent;
}

.home-content {
    display: flex;
    height: 100px;
    margin: 40px;
    border: 1px solid transparent;
}

.home-content-text-1, .home-content-text-2, .home-content-text-3, .home-content-text-4 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    width: 50%;
}