* {
    box-sizing: border-box;
  }
  
  body {
    padding-top: 0;
    font-family: Helvetica Neue, Helvetica;
    background: #f7f7f7;
  }
  
  h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .registration-form {
   width: 100%;
   display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  }

  .registration-form form {
    padding: 40px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: white;
    box-shadow: 1px 4px 10px rgba(0,0,0,0.45)
  }
  
  form input {
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  form input.error {
    border-color: red;
  }
  
  form button {
    display: block;
    width: 100%;
    appearance: none;
    border-radius: 5px;
    background-color: #84c00c;
    color: #fff;
    border: none;
    font-size: 16px;
    height: 40px;
    margin-top: 30px;
    outline: 0;
  }
  
  form button:hover {
    background-color: #669509;
  }