* {
    box-sizing: border-box;
  }
  
  body {
    padding-top: 0;
    font-family: Helvetica Neue, Helvetica;
    background: #f7f7f7;
  }
  
  h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .registration-form {
   width: 100%;
   display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  }

  .registration-form form {
    padding: 20px 30px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: white;
    box-shadow: 1px 4px 10px rgba(0,0,0,0.45);
    border-radius: 3px;
  }

  .registration-form form h1 {
    font-size: 32px;
    text-align: center;
    font-family: Montserrat;
    font-weight: bolder;
  }
  
  form input {
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  form input.error {
    background: rgb(253, 211, 211);
  }
  
  form button {
    display: block;
    width: 150px;
    appearance: none;
    border-radius: 5px;
    background-color: #50BAF9;;
    color: #fff;
    border: none;
    font-size: 16px;
    height: 40px;
    margin: 20px auto 0px;
    outline: 0;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: rgb(49, 165, 231);;
  }